/client/node_modules
/server/node_modules
/server/uploads
# https://campus-sphere-1iwh-azcpvq7fy-rahul6225s-projects.vercel.app/  frontend vercel link 
# https://campus-sphere-diwi6k7tf-rahul6225s-projects.vercel.app/  backend vercel link 